<h1>Welcome!</h1>

<ul>
  <% @works.each do |work| %>
    <li>
      <h3>Title: <%= work.title %></h3>
      <br />
      <%= image_tag work.image.url, size: "200x200" %>
    </li>
  <% end %>
</ul>

<%= link_to 'upload', new_work_path %>
