
  <div class="work-display d-flex flex-column align-items-center">
    <div class="work-holder">
      <div class="image-holder">
        <%= image_tag @work.image.url, class: "img-fluid work"%>
        <div class="work-title d-flex align-items-center justify-content-center">
          <h1><%= @work.title %></h1>
        </div>
      </div>
      <%= link_to "Return to #{@work.category.title}", category_path(@work.category.id), class: 'btn btn-primary btn-block work-link' %>
    </div>
  </div>
