<h1>About Paula Ewington</h1>
<div class="work">
  <%= image_tag @about.image.url %>
</div>
<div class="about-info">
  <h3>Artist Statament:<h3>
  <p>
    <%= @about.statement %>
  </p>

  <h3>Biography: <h3>
  <p>
    <%= @about.bio %>
  </p>
</div>
<% if session[:admin] %>
<%= button_to 'Edit Artist info', edit_about_path(1), method: "get" %>
<% end %>
