$ps-bg: #1d1d1d;
$ps-text-dark: #767676;
$ps-text-light: #fff;
$ps-lighter: #9A7E6C;
$ps-garnish: #8c6e4a;
$ps-warm: #D4a259;


$enable-rounded: false;
$theme-colors: (
  secondary: $ps-garnish,
  light: #fff
);
