$ps-off-white: #eef
$ps-off-white-lower: #aaa

@mixin transparent-bg
  color: #fff
  background: #ccc
  background: rgba(0,0,0,0.3)

.slider
  @include transparent-bg

#only-navbar
  height: 4rem
  a
    color: white

.covers-col
  margin-bottom: 6rem

@mixin light-shadow
  box-shadow: 0 13px 12px 0 rgba(0,0,0,.1), 0 20px 39px 0 rgba(0,0,0,.11)

@mixin cover-shadow
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22)

@mixin work-shadow
  box-shadow: 0 54px 58px 0 rgba(0,0,0,.4), 0 80px 154px 0 rgba(0,0,0,.44)

#main
  margin-bottom: 10rem
  margin-top: 4rem

.work-cover
  @include cover-shadow
  margin-bottom: 3rem

.work-image
  @include work-shadow
  margin-bottom: 6rem

.work-description
  font-size: inherit
  background: $ps-off-white
  &.cover
    padding: 0.8rem 3rem 0.1rem 0.8rem
    @include light-shadow
    font-size: 3px
    h5
      font-size: 5px
      margin-bottom: 0.2rem
  &.work
    padding: 1.6rem 6rem 1.6rem 1.6rem
    @include cover-shadow
    font-size: 0.8rem
  &.about
    padding: 1.6rem 6rem 1.6rem 1.6rem
    @include cover-shadow
    font-size: 1rem
  &.category
    padding: 0.5rem
    @include light-shadow
    font-size: 1rem

.home-cover
  height: 324px

.work
  max-height: 85vh

.fadein
  opacity: 0

.front
  height: 100vh

.artist-name
  background: $ps-off-white

.site-title
  margin-bottom: 8rem

input[value="Delete"]
  margin-bottom: 5rem
