#only-navbar
  a
    color: $ps-text-light

.covers-col
  margin-bottom: 30px

.card
  border: none

.gallery-title
  background: salmon
  padding: 30px 0

.work-cover
  height: 300px

.home-cover
  height: 324px

.work
  max-height: 85vh

.work-holder
  flex-basis: 1
  flex-shrink: 1

.image-holder
  position: relative

.fadein
  opacity: 0

.work-title
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 0
  background: $ps-bg
  background: rgba(29, 29, 29, 0.5)
  h1
    text-align: center
    color: $ps-text-light

.front
  height: 100vh
