$ps-off-white: #ccc
$ps-off-white-lower: #aaa

#only-navbar
  a
    color: $ps-text-light

.covers-col
  margin-bottom: 30px

.card
  border: none

.gallery-title
  background: salmon
  padding: 30px 0

.work-cover-wrapper
  font-size: 3px

.work-cover
  overflow: hidden
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22)
  margin-bottom: 3rem

.work-description
  font-size: inherit
  background: #eef
  width: 50%
  padding: 0.8rem 3rem 0.8rem 0.8rem
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22)

.home-cover
  height: 324px

.work
  max-height: 85vh

.work-holder
  flex-basis: 1
  flex-shrink: 1

.image-holder
  position: relative

.fadein
  opacity: 0

.work-title
s

.front
  height: 100vh
