<h1>Gallery</h1>

<ul class="covers">
  <% @categories.each do |category| %>
    <li>
      <h3><%= link_to category.title, category_path(category.id) %></h3>
      <br />
      <%= image_tag category.image.url, size: "200x200" %>
      <% if session[:admin] %>
        <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
        <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
      <% end %>
    </li>
  <% end %>
</ul>
