<h1>About Paula Ewington</h1>

<img src="/assets/default_work.jpg" alt="oil fields" />

<p>
  academic sermon? ... that Minori Suzuki beat 8,000 others who auditioned for the role of Freyja Wion in the anime series Macross Delta? ... that the Chicago Cubs were awarded the Laureus World Sports Award for Team of the Year after ending their 108-year World Series drought in 2016?
</p>

<%= link_to 'gallery', categories_path %>
